<div class="mb-2">
    <button class="mr-1" type="button" mat-raised-button color="accent" (click)="addTempNode()"
        matTooltip="Add new folder" matTooltipPosition="above">
        <mat-icon>create_new_folder</mat-icon>
    </button>
    <button class="mr-1" type="button" mat-raised-button color="accent" matTooltip="Add new recording"
        matTooltipPosition="above">
        <mat-icon>note_add</mat-icon>
    </button>
    <button type="button" mat-raised-button color="accent" (click)="deleteNode()" matTooltip="Delete selected"
        matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<cdk-tree #cdkTree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node m-1 p-2">
        <!-- use a disabled button to provide padding for tree leaf -->
        <!-- <button mat-icon-button disabled></button> -->
        <mat-checkbox class="checklist-leaf-node pl-5" [checked]="node.isChecked" (change)="onNodeCheck(node)">
            <button mat-button class="btn btn-outline-secondary btn-block" (click)="onRecordingClick(node)">
                <mat-icon class="folder-icon">text_snippet</mat-icon>{{node.name}}
            </button>
        </mat-checkbox>
    </cdk-nested-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild"
        class="example-tree-node border-left border-bottom">
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" cdkTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <span *ngIf="node.nodeType !== folderNodeTypes.TEMP; else tempNodeBlock">
            <mat-checkbox class="checklist-leaf-node" [checked]="node.isChecked" (change)="onNodeCheck(node)">
                <mat-icon class="folder-icon">folder</mat-icon>
                {{node.name}}
            </mat-checkbox>
        </span>
        <ng-template #tempNodeBlock>
            <span class="temp-node-span">
                <input matInput [(ngModel)]="node.name" />
                <a mat-button class="d-inline-block" (click)="saveTempNode(node, folderNodeTypes.FOLDER)">Save</a>
            </span>
        </ng-template>
        <!-- <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container cdkTreeNodeOutlet></ng-container>
        </div> -->
        <div *ngIf="treeControl.isExpanded(node)">
            <ng-container cdkTreeNodeOutlet></ng-container>
        </div>
    </cdk-nested-tree-node>
</cdk-tree>