<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node m-1 p-2">
        <!-- use a disabled button to provide padding for tree leaf -->
        <!-- <button mat-icon-button disabled></button> -->
        <button mat-button class="btn btn-outline-secondary btn-block" (click)="selectRecording(node)">
            <mat-icon class="material-icon folder-icon">text_snippet</mat-icon>{{node.name}}
        </button>
    </cdk-nested-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild"
        class="example-tree-node border-left border-bottom">
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" cdkTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror material-icon">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <mat-icon class="material-icon folder-icon">folder</mat-icon>{{node.name}}
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container cdkTreeNodeOutlet></ng-container>
        </div>
    </cdk-nested-tree-node>
</cdk-tree>