<mat-card class="app-card">
    <header>
        <div class="row">
            <div class="col-sm-4 align-middle">
                <img class="logo" src="./../assets/images/synechron_logo.png" alt="Synechron Logo" />
            </div>
            <div class="col-sm-4 text-center align-middle">
                <h1>Service Virtualization UI</h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer></footer>
</mat-card>