<div class="organize-container container">
    <h2>{{instance?.instanceName}} Mappings</h2>
    <div class="row">
        <div class="col-sm-4 folder-tree-section">
            <app-folder-tree *ngIf="instance && instance.mappings" [recordings]="instance.mappings"
                (selectRecording)="onRecordingSelection($event)">
            </app-folder-tree>
        </div>
        <div class="col-sm-8">
            <!-- TODO: text-area -->
            <div class="edit-recording-section">
                <textarea matInput [disabled]="!selectedRecording" [(ngModel)]="editableRecording"></textarea>
            </div>
        </div>
    </div>
</div>