<div class="organize-container container">
    <h2>{{instance?.instanceName}} Mappings</h2>
    <div class="row">
        <div class="col-sm-4 folder-tree-section">
            <app-folder-tree *ngIf="instance && instance.mappings" [recordings]="instance.mappings"
                (selectRecording)="onRecordingSelection($event)">
            </app-folder-tree>
        </div>
        <div class="col-sm-8">
            <div class="edit-recording-section">
                <div class="recording-name">
                    <span>{{selectedRecording?.name | recordingNameMapping}}</span>
                </div>
                <textarea matInput [disabled]="!selectedRecording" [(ngModel)]="editableRecording"
                    placeholder="Select a recording to edit it"></textarea>
                <div class="recording-actions">
                    <button type="button" mat-raised-button color="primary" [disabled]="!selectedRecording"
                        (click)="applyChanges()">Apply</button>
                    <button type="button" mat-raised-button color="accent" [disabled]="!selectedRecording"
                        (click)="resetSelection()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>