<div class="organize-container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <h2>{{instance?.instanceName}} Mappings</h2>
        </div>
        <div class="col-sm-4 text-right">
            <button mat-button color="primary" (click)="onGoBack()">
                <mat-icon>
                    arrow_back
                </mat-icon>
                Go back
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 folder-tree-section">
            <div class="folder-tree border-bottom">
                <app-folder-tree *ngIf="recordings" [recordings]="recordings" (editRecording)="onEditRecording($event)"
                    (editMappings)="openEditMappingsDialog($event)" (treeAction)="handleTreeAction($event)">
                </app-folder-tree>
            </div>
            <div class="persist-actions mt-2">
                <button type="button" mat-raised-button color="primary" (click)="saveRecordings()">Save All</button>
                <button type="button" mat-raised-button color="primary" class="ml-2"
                    (click)="publishRecordings()">Publish All</button>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="edit-recording-section">
                <div class="recording-name">
                    <span>{{recordingToBeEdited?.name | recordingNameMapping}}</span>
                </div>
                <textarea matInput [disabled]="!recordingToBeEdited" [(ngModel)]="recordingAsString"
                    placeholder="Select a recording to edit it"></textarea>
                <div class="recording-actions mt-2">
                    <button type="button" mat-raised-button color="warn" [disabled]="!recordingToBeEdited"
                        (click)="applyChanges()">Apply</button>
                    <button type="button" mat-raised-button [disabled]="!recordingToBeEdited"
                        (click)="resetSelection()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>