<h2 mat-dialog-title>
    <span class="text-capitalize">{{(data.operationType)}} Instance Details</span>
</h2>
<form [formGroup]="instanceDetailForm" (ngSubmit)="onSave()">
    <mat-dialog-content class="instance-detail-form">
        <mat-form-field appearance="fill">
            <mat-label>Instance Name</mat-label>
            <input matInput formControlName="instanceName">
            <mat-error *ngIf="instanceName.errors && instanceName.errors.required">
                Instance name is required
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Target URL</mat-label>
            <input matInput formControlName="targetURL">
            <mat-error *ngIf="targetURL.errors && targetURL.errors.required">
                Target URL is required
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Wiremock URL</mat-label>
            <input matInput formControlName="wiremockURL">
            <mat-error *ngIf="wiremockURL.errors && wiremockURL.errors.required">
                WireMock URL is required
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="float-right">
        <button type="submit" mat-raised-button color="primary" [disabled]="!instanceDetailForm.valid">Save</button>
        <button type="button" mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>